section {
    background-color: #27ae60;
}

@keyframes flip {
      0% { transform: perspective(500px); }
     50% { transform: perspective(500px) rotateY(180deg); }
    100% { transform: perspective(500px) rotateY(180deg) rotateX(180deg); }
}

@keyframes switch {
    to {
        background-position: -356px 0;
    }
}

#card {
    width: 178px;
    height: 250px;
    left: 50%;
    top: 50%;
    margin-left: -89px;
    margin-top: -125px;
    border-radius: 5px;
    position: absolute;
    background-image: url(card.png);
    animation: flip 2s ease-in-out infinite, switch 1s steps(2) infinite alternate;
    transform: translateZ(0); /* Enable hardware acceleration */
}
